* {
    padding: 0;
    margin: 0;
}

/* header section Style */


.banner-container {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px 0px 100px;

}


.banner {
    align-items: center;

}

.header-title {
    align-items: center;
    font-size: 40px;

}

.header-descrition {

    color: rgba(39, 39, 39, 0.60);
    align-items: center;
    width: 300px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 12px;

}

.shop-button {
    border-radius: 5px;
    padding: 10px 10px;
    background: #E55473;
    color: #FFF;
    border: 0;

}

.image-section {
    height: 300px;
    width: 260px;
    padding-left: 30px;
    padding-right: 150px;
    padding-top: 20px;
    padding-bottom: 17px;

}

.flower-image {
    align-items: center;
    padding-left: 60px 100px;

}


/* middle section */



.middle-section {
    margin-top: 60px;

}

.middle-title {
    margin: 10px 20px;
    text-align: center;

}

.middle-description {
    text-align: center;
    margin: 10px 40px;
    margin-bottom: 60px;
    font-size: 8px;
}

.box-contenar {
    display: flex;
    text-align: center;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    text-decoration-line: underline;
}

.img {
    width: 150px;
    height: 200px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 80px 60px 0px 20px;
}

.img-2 {
    width: 150px;
    height: 200px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 80px 60px 0px 20px;
}

.img-3 {
    width: 150px;
    height: 200px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 80px 60px 0px 20px;
}

.box {
    align-items: center;
    justify-content: space-between;
    margin-left: 15px;
}





/* hot deal section */

.hot-banner-container {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px 0px 120px;

}

.text-primary {
    color:  #E55473;

}


.banner {
    align-items: center;
    padding-right: 40px;
    align-items: center;


}

.hot-deal-section {
    padding-right: 30px 100px;
}


.hot-deal-descrition {
    align-items: center;
    width: 300px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 10px;

}

.sign-button {
    border-radius: 5px;
    padding: 10px 15px;
    background: #E55473;
    color: #FFF;
    border: 0;

}

.hot-deal-image {
    height: 300px;
    width: 250px;
    padding-left: 60px;
    padding-right: 180px;
    padding-top: 20px;
    padding-bottom: 50px;
}

.flower-image {
    align-items: center;
}

/* insta section */

.insta-section {
    margin: 40px;


}

.insta-title {
    margin: 10px 20px;
    text-align: center;

}

.insta-description {
    text-align: center;
    margin: 10px 40px;
    margin-bottom: 60px;
    font-size: 8px
}

.more-picture {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: #FFF;
}

.more-image {
    width: 150px;
    height: 200px;
}



.more-image2 {
    width: 150px;
    height: 200px;
}



.more-image3 {
    width: 150px;
    height: 200px;

}

.more-image4 {
    width: 150px;
    height: 200px;
}

.box-image {
    align-items: center;
    justify-content: space-between;
    margin-left: 8px;
}


/* leatest deals section  */


.latest-box {
  
    background-image: url("./images/Rectangle-9.png");
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    margin:30px 80px 40px 80px;
    text-align: center;
    padding: 100px 50px;
    
    
}


.deals-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;



}

.deals-description {
   
    
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 15px;
    font-weight: 400;
    
}


.email-button {
    padding: 10px 80px 10px 5px;
    border-radius: 5px;
    border: 0;
    margin-right: 5px;
    margin-top: 10px;

}

.submit-button {

    padding: 10px 25px;
    background-color: #E55473;
    color: white;
    border: 0;
    border-radius: 5px;


}

/* footer-sectioon */

.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 100px;
    font-family: Lato;

}

.footer-text {
    font-size: 30px;
    font-weight: 500px;
    font-family: Lato;


}

.fl-color {
    color: #E55473;
    font-family: Lato;
    font-size: 30px;
    font-weight: 500px;

}

.footer-desc {
    margin: 10px;
    font-size: 8px;

}

.copyrights {
    font-size: 10px;
    color: #272727s;

}