*{
    padding:0;
    margin:0;
}

/* header section Style */


.banner-container{
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px 0px 100px;

}


.banner{
  align-items: center;

}
.header-title{
    align-items: center;
    font-size:40px ;

}

.header-descrition{

    color: rgba(39, 39, 39, 0.60);
    align-items: center;
    width: 300px;
    margin-bottom: 20px  ;
    margin-top: 20px;
    font-size:12px;

}
.shop-button{
    border-radius: 5px;
    padding: 10px 10px;
    background: #E55473;
    color: #FFF;
    border: 0;

}

.image-section{
    height: 300px;
    width: 250px;

  
}

.flower-image{
    align-items: center;
    padding-left: 60px;

}


/* middle section */ 



 .middle-section{
 margin-top:60px ;
}

.middle-title{
    margin: 10px 20px;
    text-align: center;

}
.middle-description{ 
    text-align: center;
    margin: 10px 40px;
    margin-bottom: 60px;
    font-size: 8px ;


}

  /* hot deal section */

  .hot-banner-container{
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px 0px 100px;

}

.text-primary{
    text-decoration:#E55473;

}


.banner{
  align-items: center;
  padding-right: 40px;
.hot-deal-title
    align-items: center;
    

}
.hot-deal-section{
   padding-right: 30px;
}


.hot-deal-descrition{
    align-items: center;
    width: 300px;
    margin-bottom: 20px  ;
    margin-top: 20px;
    font-size: 10px;

}
.sign-button{
    border-radius: 5px;
    padding: 10px 15px;
    background: #E55473;
    color: #FFF;
    border: 0;

}

.hot-deal-image{
    height: 300px;
    width: 250px;
    padding-left: 30px;
    padding-right:150px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.flower-image{
    align-items: center;
}

/* insta section */

.insta-section{
    margin-top:40px ;
     
 }
 
 .insta-title{
     margin: 10px 20px;
     text-align: center;
 }
 .insta-description{
     text-align: center;
     margin: 10px 20px;
     font-size: 10px ;
     
   }   


  
